<style>
  body {
    color: black;
  }
  h1 {
    background-color: transparent;
    color: LightSteelBlue;
  }
  h3 {
    background-color: transparent;
    color: WhiteSmoke;
  }
  b {
    background-color: transparent;
    color: LightSteelBlue;
  }
</style>
<h1>Introduction</h1>
<h4>Column Names</h4>
<ul>
  <li><b>ArithmeticErrortarget:</b> the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)</li>
  <li><b>ids:</b> The id of the tweet (2087)</li>
  <li><b>date:</b> The date of the tweet (Sat May 16 23:58:44 UTC 2009)</li>
  <li><b>flag:</b> The query (lyx). If there is no query, then this value is NO_QUERY.</li>
  <li><b>user:</b> The user that tweeted (robotickilldozr)</li>
  <li><b>text:</b> The text of the tweet (Lyx is cool)</li>
</ul>

<h4>Import</h4>

In [2]:
import csv
import pandas as pd
import matplotlib.pyplot as plt

if __name__ == '__name__':
    print('Starting Spark Session. All data is loaded into memory')

<h4>Read the File</h4>

Read the csv file into a Python dataframe and then write it into a new file

In [3]:
df = pd.read_csv('.databases/tweets.csv', encoding='ISO-8859-1')
print(df)

         0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
0        0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY  \
1        0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
2        0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
3        0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4        0  1467811372  Mon Apr 06 22:20:00 PDT 2009  NO_QUERY
...     ..         ...                           ...       ...
1599994  4  2193601966  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599995  4  2193601969  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599996  4  2193601991  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599997  4  2193602064  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599998  4  2193602129  Tue Jun 16 08:40:50 PDT 2009  NO_QUERY

         _TheSpecialOne_
0          scotthamilton  \
1               mattycus
2                ElleCTF
3                 Karoli
4               joy_wolf
...                  ...
1599994  AmandaMarie1028
1599995      TheWDBoards
1599996           bpbabe
1599997     tinydiamondz
1599998   RyanTrevMorris

        @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0        is upset that he can't update his Facebook by ...
1        @Kenichan I dived many times for the ball. Man...
2          my whole body feels itchy and like its on fire
3        @nationwideclass no, it's not behaving at all....
4                            @Kwesidei not the whole crew
...                                                    ...
1599994  Just woke up. Having no school is the best fee...
1599995  TheWDB.com - Very cool to hear old Walt interv...
1599996  Are you ready for your MoJo Makeover? Ask me f...
1599997  Happy 38th Birthday to my boo of alll time!!! ...
1599998  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 6 columns]

<style>
  body {
    color: black;
  }
  h1 {
    background-color: transparent;
    color: LightSteelBlue;
  }
  h3 {
    background-color: transparent;
    color: WhiteSmoke;
  }
  b {
    background-color: transparent;
    color: LightSteelBlue;
  }
</style>
<h1>Action</h1>

Get the basic information about the content of the file

In [6]:
df.columns = ['sentiment', 'id', 'date', 'flag', 'user', 'text']
print(f'Now it looks like this')
display(df.head())
print(f'The first five rows of the database')
display(df.head())
print(f'Information')
display(df.info())
print(f'Description')
df.describe()

Now it looks like this

,sentiment,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

The first five rows of the database

,sentiment,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

Information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   sentiment  1599999 non-null  int64
 1   id         1599999 non-null  int64
 2   date       1599999 non-null  object
 3   flag       1599999 non-null  object
 4   user       1599999 non-null  object
 5   text       1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

None

Description

          sentiment            id
count  1.599999e+06  1.599999e+06
mean   2.000001e+00  1.998818e+09
std    2.000001e+00  1.935757e+08
min    0.000000e+00  1.467811e+09
25%    0.000000e+00  1.956916e+09
50%    4.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

Now let us get the number of unique values in each column; we had 

**df.unstack().groupby(level=0).nunique()**

as a suggestion but it was over 6 times slower

In [7]:
# we had 
# df.unstack().groupby(level=0).nunique()
# as a suggestion but it was over 6 times slower
df.apply(pd.Series.nunique)

sentiment          2
id           1598314
date          774362
flag               1
user          659775
text         1581465
dtype: int64

In [8]:
for _ in df.columns:
    display(_)
    display(df[_].value_counts())

'sentiment'

sentiment
4    800000
0    799999
Name: count, dtype: int64

'id'

id
2190457769    2
1974742852    2
2062516845    2
1551586713    2
1563681287    2
             ..
2197311343    1
2197311196    1
2197311146    1
2197310899    1
2193602129    1
Name: count, Length: 1598314, dtype: int64

'date'

date
Mon Jun 15 12:53:14 PDT 2009    20
Fri May 29 13:40:04 PDT 2009    17
Mon Jun 15 13:39:50 PDT 2009    17
Fri May 22 05:10:17 PDT 2009    17
Fri Jun 05 11:05:33 PDT 2009    16
                                ..
Sun Jun 07 12:36:09 PDT 2009     1
Sun Jun 07 12:36:07 PDT 2009     1
Sun Jun 07 12:36:04 PDT 2009     1
Sun Jun 07 12:36:03 PDT 2009     1
Tue Jun 16 08:40:50 PDT 2009     1
Name: count, Length: 774362, dtype: int64

'flag'

flag
NO_QUERY    1599999
Name: count, dtype: int64

'user'

user
lost_dog           549
webwoke            345
tweetpet           310
SallytheShizzle    281
VioletsCRUK        279
                  ...
iheartrobpattz       1
67trinity            1
Sibby                1
mAnyA_15             1
bpbabe               1
Name: count, Length: 659775, dtype: int64

'text'

text
isPlayer Has Died! Sorry                                                                              210
good morning                                                                                          118
headache                                                                                              115
Good morning                                                                                          112
Headache                                                                                              106
                                                                                                     ...
braces  tell me it will be okay...                                                                      1
is stuck at home without curry                                                                          1
@mrsduryee I've applied to about 70 since I lost my job in March...it certainly FEELS like a lot!       1
The cheese I got @SarawithanR lost its squeak                                                           1
happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H                                           1
Name: count, Length: 1581465, dtype: int64

To see the whole width of the table we make a small permanent change

In [9]:
pd.set_option('display.max_colwidth', None)

Let us see if some of the functions work properly and how we can use them to gain more information about this database

In [10]:
print(df[df['user'].astype('string') == 'lost_dog']['text'])

43934              @NyleW I am lost. Please help me find a good home.
45573             @SallyD I am lost. Please help me find a good home.
46918         @zuppaholic I am lost. Please help me find a good home.
47948         @LOSTPETUSA I am lost. Please help me find a good home.
50571     @JeanLevertHood I am lost. Please help me find a good home.
                                      ...
792408       @trooppetrie I am lost. Please help me find a good home.
793313         @Carly_FTS I am lost. Please help me find a good home.
793609         @inathlone I am lost. Please help me find a good home.
798607              @Kram I am lost. Please help me find a good home.
799404         @W_Hancock I am lost. Please help me find a good home.
Name: text, Length: 549, dtype: object

Find the 50 users that generated the most tweets

In [11]:
df.groupby(['user']).count().sort_values(by='sentiment', ascending=False).nlargest(50, 'flag')

                 sentiment   id  date  flag  text
user
lost_dog               549  549   549   549   549
webwoke                345  345   345   345   345
tweetpet               310  310   310   310   310
SallytheShizzle        281  281   281   281   281
VioletsCRUK            279  279   279   279   279
mcraddictal            276  276   276   276   276
tsarnick               248  248   248   248   248
what_bugs_u            246  246   246   246   246
Karen230683            238  238   238   238   238
DarkPiano              236  236   236   236   236
SongoftheOss           227  227   227   227   227
Jayme1988              225  225   225   225   225
keza34                 219  219   219   219   219
ramdomthoughts         216  216   216   216   216
shanajaca              213  213   213   213   213
wowlew                 212  212   212   212   212
nuttychris             211  211   211   211   211
TraceyHewins           211  211   211   211   211
thisgoeshere           207  207   207   207   207
Spidersamm             205  205   205   205   205
StDAY                  202  202   202   202   202
felicityfuller         195  195   195   195   195
Dogbook                192  192   192   192   192
_magic8ball            189  189   189   189   189
Djalfy                 182  182   182   182   182
Dutchrudder            182  182   182   182   182
torilovesbradie        182  182   182   182   182
twebbstack             180  180   180   180   180
Quimo                  180  180   180   180   180
Broooooke_             179  179   179   179   179
enamoredsoul           179  179   179   179   179
JessMcFlyxxx           178  178   178   178   178
MTVnHollyWEST23        178  178   178   178   178
MiDesfileNegro         177  177   177   177   177
linnetwoods            171  171   171   171   171
KevinEdwardsJr         171  171   171   171   171
insearchofnkotb        170  170   170   170   170
Scyranth               166  166   166   166   166
karinb_za              166  166   166   166   166
JBnVFCLover786         163  163   163   163   163
cookiemonster82        160  160   160   160   160
shellrawlins           159  159   159   159   159
maynaseric             159  159   159   159   159
hollyalyxfinch         159  159   159   159   159
mrs_mcsupergirl        158  158   158   158   158
lesley007              158  158   158   158   158
DonniesGirl69          155  155   155   155   155
judez_xo               152  152   152   152   152
paul_steele            152  152   152   152   152
patriciaco             151  151   151   151   151

What differs between tweets that share the same ID but are still saved in this dataframe, is that they have different sentiments; don't ask me why but some seem totally unreasonable. For instance, why should the following tweet be both positive and negative? Is it because they have mentioned the word 'sorry'?

So, now, we have gathered all those having the same ID and the same everything, but the sentiment, which has received both 0 and 4. Some are clearly ambiguous; others not. So what we do is that we just remove the redundancy and what is remained will receive a sentiment of 2. A little bit risky, since it still may be a source of confusion for the learner.

In [12]:
doubleID_df = df.groupby('id').count() > 1
double_id = df.loc[df['id'].isin(doubleID_df.loc[doubleID_df['sentiment'] == True].index)]
double_id.sort_values(by='id').head(100)

,sentiment,id,date,flag,user,text
212,0,1467863684,Mon Apr 06 22:33:35 PDT 2009,NO_QUERY,DjGundam,Awwh babs... you look so sad underneith that shop entrance of &quot;Yesterday's Musik&quot; O-: I like the look of the new transformer movie
800260,4,1467863684,Mon Apr 06 22:33:35 PDT 2009,NO_QUERY,DjGundam,Awwh babs... you look so sad underneith that shop entrance of &quot;Yesterday's Musik&quot; O-: I like the look of the new transformer movie
274,0,1467880442,Mon Apr 06 22:38:04 PDT 2009,NO_QUERY,iCalvin,"Haven't tweeted nearly all day Posted my website tonight, hopefully that goes well Night time!"
800299,4,1467880442,Mon Apr 06 22:38:04 PDT 2009,NO_QUERY,iCalvin,"Haven't tweeted nearly all day Posted my website tonight, hopefully that goes well Night time!"
988,0,1468053611,Mon Apr 06 23:28:09 PDT 2009,NO_QUERY,mariejamora,@hellobebe I also send some updates in plurk but i upload photos on twitter! you didnt see any of my updates on plurk? Zero?
...,...,...,...,...,...,...
824538,4,1556267135,Sat Apr 18 22:12:27 PDT 2009,NO_QUERY,banerch,@meladiaz HAHAHAHAHA! ) i miss you toooooo! i have kwentooo! i'll tell you next time we see each other. :&gt;
17812,0,1556402800,Sat Apr 18 22:42:07 PDT 2009,NO_QUERY,StormClaudi,"@IzzyJ_Is_Here haha yayyy! aw, lady i really hope you're not sad. that's no fun just listen to calle ocho and dance dance dance!"
825096,4,1556402800,Sat Apr 18 22:42:07 PDT 2009,NO_QUERY,StormClaudi,"@IzzyJ_Is_Here haha yayyy! aw, lady i really hope you're not sad. that's no fun just listen to calle ocho and dance dance dance!"
825935,4,1556571114,Sat Apr 18 23:22:47 PDT 2009,NO_QUERY,Kikirowr,This little tree is tiiiiired 25's (and dealing with stupid people) tomorrow and then finishing 10s monday! Raiding every nice
18340,0,1556571114,Sat Apr 18 23:22:47 PDT 2009,NO_QUERY,Kikirowr,This little tree is tiiiiired 25's (and dealing with stupid people) tomorrow and then finishing 10s monday! Raiding every nice

**TODO : Find the ten dates when the most tweets were generated**

**TODO : Find out the change in the frequnency of tweets per day**

**TODO : See if there is a correlation between the sentiment of the tweet and the day it was made**

**TODO : See if there is a correlation between the sentiment of the tweet and the time of the day it was made; eg if the tweets tens to be more negative at night compared to days and so on**

# TEST ZONE

In [13]:
double_sentiment_id = df.groupby(['id']).count().sort_values(by='sentiment', ascending=False)
double_sentiment_id
#double_sentiment_id.loc[double_sentiment_id['sentiment'] > 1]
#df.groupby(['id']).count().sort_values(by='sentiment', ascending=False)

            sentiment  date  flag  user  text
id
2013708350          2     2     2     2     2
1694607515          2     2     2     2     2
1981455916          2     2     2     2     2
1977625382          2     2     2     2     2
1557375700          2     2     2     2     2
...               ...   ...   ...   ...   ...
1974380475          1     1     1     1     1
1974380466          1     1     1     1     1
1974380370          1     1     1     1     1
1974380271          1     1     1     1     1
2329205794          1     1     1     1     1

[1598314 rows x 5 columns]

In [14]:
doubleID_df = df.groupby('id').count() > 1
double_id = df.loc[df['id'].isin(doubleID_df.loc[doubleID_df['sentiment'] == True].index)]
double_id.sort_values(by='id').head(100)

,sentiment,id,date,flag,user,text
212,0,1467863684,Mon Apr 06 22:33:35 PDT 2009,NO_QUERY,DjGundam,Awwh babs... you look so sad underneith that shop entrance of &quot;Yesterday's Musik&quot; O-: I like the look of the new transformer movie
800260,4,1467863684,Mon Apr 06 22:33:35 PDT 2009,NO_QUERY,DjGundam,Awwh babs... you look so sad underneith that shop entrance of &quot;Yesterday's Musik&quot; O-: I like the look of the new transformer movie
274,0,1467880442,Mon Apr 06 22:38:04 PDT 2009,NO_QUERY,iCalvin,"Haven't tweeted nearly all day Posted my website tonight, hopefully that goes well Night time!"
800299,4,1467880442,Mon Apr 06 22:38:04 PDT 2009,NO_QUERY,iCalvin,"Haven't tweeted nearly all day Posted my website tonight, hopefully that goes well Night time!"
988,0,1468053611,Mon Apr 06 23:28:09 PDT 2009,NO_QUERY,mariejamora,@hellobebe I also send some updates in plurk but i upload photos on twitter! you didnt see any of my updates on plurk? Zero?
...,...,...,...,...,...,...
824538,4,1556267135,Sat Apr 18 22:12:27 PDT 2009,NO_QUERY,banerch,@meladiaz HAHAHAHAHA! ) i miss you toooooo! i have kwentooo! i'll tell you next time we see each other. :&gt;
17812,0,1556402800,Sat Apr 18 22:42:07 PDT 2009,NO_QUERY,StormClaudi,"@IzzyJ_Is_Here haha yayyy! aw, lady i really hope you're not sad. that's no fun just listen to calle ocho and dance dance dance!"
825096,4,1556402800,Sat Apr 18 22:42:07 PDT 2009,NO_QUERY,StormClaudi,"@IzzyJ_Is_Here haha yayyy! aw, lady i really hope you're not sad. that's no fun just listen to calle ocho and dance dance dance!"
825935,4,1556571114,Sat Apr 18 23:22:47 PDT 2009,NO_QUERY,Kikirowr,This little tree is tiiiiired 25's (and dealing with stupid people) tomorrow and then finishing 10s monday! Raiding every nice
18340,0,1556571114,Sat Apr 18 23:22:47 PDT 2009,NO_QUERY,Kikirowr,This little tree is tiiiiired 25's (and dealing with stupid people) tomorrow and then finishing 10s monday! Raiding every nice

In [15]:
df.groupby('id').count()>1

            sentiment   date   flag   user   text
id
1467810672      False  False  False  False  False
1467810917      False  False  False  False  False
1467811184      False  False  False  False  False
1467811193      False  False  False  False  False
1467811372      False  False  False  False  False
...               ...    ...    ...    ...    ...
2329205009      False  False  False  False  False
2329205038      False  False  False  False  False
2329205473      False  False  False  False  False
2329205574      False  False  False  False  False
2329205794      False  False  False  False  False

[1598314 rows x 5 columns]

In [16]:
df.groupby('id')['id'].count()>1

id
1467810672    False
1467810917    False
1467811184    False
1467811193    False
1467811372    False
              ...
2329205009    False
2329205038    False
2329205473    False
2329205574    False
2329205794    False
Name: id, Length: 1598314, dtype: bool

In [17]:
pd.set_option('display.max_rows', 10000)

In [18]:
df

,sentiment,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best feeling ever
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interviews! â« http://blip.fm/~8bmta
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me for details
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H

In [1]:
# extract the row with the id number 1467811372
df.loc[df['id'] == 1467813782]

NameError: name 'df' is not defined

Error in callback <function _draw_all_if_interactive at 0x12005f560> (for post_execute):

KeyboardInterrupt: